.standing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20vh;
}
.finding-box {
    margin-left: 10vw;
}

.finding-box > .destination-text {
    margin-top: 20vh;
}

