@import "../../../index.css";
.main-container {
  position: relative;
  top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seat-info-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.seat-info-container {
  border-radius: 10%;
  width: 80vw;
  font-size: 0.9rem;
}

.seat-info-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.seat-info-item img {
  height: 40px;
}

.seat-info-text {
  width: 35vw;
}

/* 모달창 */
.modal-body {
  display: flex;
  flex-direction: column;
}
/* 주의 문구 */
.modal-body p {
  text-align: center;
}
.modal-body > p {
  margin-bottom: 20px;
  color: var(--dark-blue);
}
/* 자리 위치 그림 */
.seat-title {
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}
.seat-grid {
  margin-bottom: 20px;
  align-items: center;
}
.seat-row {
  box-sizing: border-box;
  width: 90%;
  height: 90%;
}
.seat-detail-container{
  width: 80vw;
}
.seat-detail-item {
  background-color: var(--light-dark-gray) !important;
  font-weight: bold;
  margin-bottom: 10px;
  height: 52px;
  display: flex;
  align-items: center;
  padding:  10px;
}
.seat-detail-item span {
  font-weight: bold;
  color: #22368c;
}
