.main-container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seat-info-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.seat-info-container {
  border-radius: 10%;
  width: 80vw;
  font-size: 0.9rem;
}

.seat-info-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.seat-info-item img {
  height: 40px;
}

.seat-info-text {
  width: 35vw;
}
