.main-container {
  position: relative;
  top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seat-info-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.seat-info-container {
  border-radius: 10%;
  width: 80vw;
  font-size: 0.9rem;
}

.seat-info-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.seat-info-item img {
  height: 40px;
}

.seat-info-text {
  width: 35vw;
}

/* 모달창 */
.modal-body {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
/* 주의 문구 */
.modal-body p {
  margin-bottom: 0px;
  text-align: center;
}

/* 자리 위치 그림 */
.seat-title {
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}
.seat-grid {
  align-items: center;
}
.seat-detail-item {
  background-color: lightblue;
  font-weight: bold;
}
.seat-detail-item span {
  font-weight: bold;
  color: #22368c;
}
