.info-page{
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans KR';
    font-weight: 350;
}

.info-box{    
    margin: 0 auto;
    padding: 5vmax;
    width: 80vmin;
    max-width: 500px;
    background-color: white;
    box-shadow: 0px 6px 10px 0px #0000000d;

    position: absolute;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 12px;
}

.user-info-section > section {
    margin-top: 5vh;
}

.profile-section {
    display: flex;
    align-items: center;
    gap: 3vw;
    margin-bottom : 3vh;
}

.profile-section > p {
    font-weight: 500;
    margin-bottom: 0;
}

.profile-section > img {
    width: 18vw;
    max-width: 25%;
}

.vertical-line {
    width: 60%;               
    height: 0.1px;            
    background-color: #C4C4C4;
    opacity: 30%;
    margin: 0 auto;
    margin-bottom: 7vh;  
}

.user-ticket-title, .user-edit-title {
    display: flex;
    gap: 5px;
    text-align: center;
    margin-bottom: 2vh;
}
.user-ticket-title > p , .user-edit-title > p {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}

